/* app css stylesheet */

.am-body {
	width: 100%;
	background: #e4e4e4;
	padding: 15px;
	max-width: 1024px;
	color: #333;
}

.am-page {
	width: 100%;
	background: #fff;
	box-shadow: 4px 4px 2px 2px #ccc;
	padding: 0px;
	border: 1px #ccc;
}

.am-header {
	font-size: 12pt;
	height: 45px;
	line-height: 45px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background: #3498db;
	color: #fff;
	position: relative;
}

.am-title {
	font-size: 16pt;
	white-space: nowrap;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.am-home-top-right-icons {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.am-footer {
	font-size: 12pt;
	border-top: 1px solid #ccc;
	height: 56px; /* extra px for border */
	line-height: 55px;
	width: 100%;
	margin: 15px 0px 0px 0px;
	padding: 0px;
	text-align: center;
	background: #e0e5e4;
	color: #0072bd;
	box-shadow: 0px 4px 2px -2px #ccc; /* top shadow only */
	position: relative;
}

.am-content {
	margin: 15px 15px 45px 15px;
	padding: 0px;
}

.am-powered-by {
	height: inherit;
	line-height: inherit;
	margin: 0px 10px;
	padding: 0px;
	float: left;
	font-size: smaller;
	white-space: nowrap;
}

.am-home-bottom-right-icons {
	height: inherit;
	line-height: inherit;
	color: #0072bd;
	float: right;
}

.am-home-bottom-right-icons a {
	height: inherit;
	line-height: inherit;
	color: inherit;
	margin: 0px 10px;
	padding: 0px;
	display: inline-block;
}

.am-home-bottom-right-icons span {
	height: inherit;
	line-height: inherit;
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

.am-home-link {
	font-size: 12pt;
	height: inherit;
	line-height: inherit;
	color: #fff;
	float: left;
	padding: 0px;
	margin: 0px 10px;
}

.am-home-link a {
	font: inherit;
	color: inherit;
}

.am-footer-link {
	border: 1px solid #ccc;
	line-height: 55px;
	text-align: center;
	vertical-align: middle;
	height: 100%;
	float: right;
}

.am-footer-link a {
	line-height: inherit;
}

.am-approve-link {
	font-weight: bolder;
	width: 33%;
}

.am-reject-link {
	width: 33%;
}

.am-other-link {
	width: 34%;
}

.am-validate-link {
	font-weight: bolder;
	width: 33%;
}

.am-table {
	padding: inherit;
	width: 100%;
	display: table;
	border-collapse: collapse;
}

.am-row {
	width: 100%;
	display: table-row;
	border-bottom: 1px solid #ccc;
}

.am-row-nounderline {
	border-bottom: 0px !important;
}

.am-cell {
	height: 3em;
	margin: 0px;
	padding: 5px;
	display: table-cell;
	vertical-align: middle;
}

.am-item-type {
	width: 75%;
}

.am-item-count {
	width: 10%;
	text-align: right;
}

.am-item-details {
	width: 5%;
	text-align: right;
}

.am-transaction-key {
	width: 25%;
}

.am-transaction-description {
	width: 50%;
}

.am-transaction-amount {
	width: 25%;
	text-align: right;
}

.am-subheading {
	width: 99%;
	background-color: #efefef;
	text-transform: uppercase;
	padding: 5px;
	margin: 30px 5px 5px 5px;
}

.am-label {
	margin: 5px;
	padding: 5px;
	text-align: left;
	width: 25%;
	display: table-cell;
	font: inherit;
	float: left;
}

.am-input {
	margin: 5px;
	padding: 5px;
	width: 70%;
	display: table-cell;
	font-weight: 300;
	float: right;
}

