/* app css stylesheet */

.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu > li {
	display: inline;
}

.menu > li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
	content: "";
	padding: 0;
}

.am-body {
	width: 100%;
	background: #e4e4e4;
	padding: 15px;
	max-width: 1024px;
}

.am-page {
	width: 100%;
	background: #fff;
	box-shadow: 4px 4px 2px 2px #ccc;
	padding: 0px;
	border: 1px #ccc;
}

.am-header {
	font-size: 12pt;
	height: 45px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background: #3498db;
	color: #fff;
	position: relative;
}

.am-title {
	font-size: 16pt;
	white-space: nowrap;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.am-hamburger {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(0, -50%);
}

.am-footer {
	font-size: 12pt;
	height: 56px; /* 55px + 1 for the top border */
	width: 100%;
	margin: 15px 0px 0px 0px;
	padding: 0px;
	text-align: center;
	background: #e0e5e4;
	color: #0072bd;
	box-shadow: 0px 4px 2px -2px #ccc;
	border-top: 1px solid #ccc;
	position: relative;
	vertical-align: middle;
}

.am-content {
	margin: 15px 15px 45px 15px;
	padding: 0px;
}

.am-powered-by {
	font-size: smaller;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translate(0, -50%);
}

.am-home-icons {
	color: #0072bd;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(0, -50%);
	float: right;
}

.am-home-icons a {
	padding: 10px;
}

.am-home-link {
	font-size: 12pt;
	color: #fff;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translate(0, -50%);
}

.am-home-link a {
	font: inherit;
	color: inherit;
}

.am-footer-link {
	border: 1px solid #ccc;
	line-height: 55px;
	text-align: center;
	vertical-align: middle;
	height: 100%;
	float: right;
}

.am-footer-link a {
	line-height: inherit;
}

.am-approve-link {
	font-weight: bolder;
	width: 33%;
}

.am-reject-link {
	width: 33%;
}

.am-other-link {
	width: 34%;
}

.am-validate-link {
	font-weight: bolder;
	width: 33%;
}

.am-table {
	padding: inherit;
	width: 100%;
	display: table;
	border-collapse: collapse;
}

.am-row {
	width: 100%;
	display: table-row;
	border-bottom: 1px solid #ccc;
}

.am-row-nounderline {
	border-bottom: 0px !important;
}

.am-cell {
	height: 3em;
	margin: 0px;
	padding: 5px;
	display: table-cell;
	vertical-align: middle;
}

.am-item-type {
	width: 75%;
}

.am-item-count {
	width: 10%;
	text-align: right;
}

.am-item-details {
	width: 5%;
	text-align: right;
}

.am-transaction-key {
	width: 25%;
}

.am-transaction-description {
	width: 50%;
}

.am-transaction-amount {
	width: 25%;
	text-align: right;
}

.am-label {
	padding: 5px;
	text-align: right;
	width: 30%;
	display: table-cell;
}

.am-input {
	margin: 5px;
	width: 70%;
	display: table-cell;
}

