/* app css stylesheet */

.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu > li {
	display: inline;
}

.menu > li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
	content: "";
	padding: 0;
}

.am-body {
	width: 100%;
	background: #e4e4e4;
	padding: 15px;
	max-width: 1024px;
}

.am-page {
	width: 100%;
	background: #fff;
	box-shadow: 4px 4px 2px 2px #ccc;
	padding: 0px;
}

.am-header {
	height: 45px;
	width: 100%;
	padding: 7px;
	background: #3498db;
	color: #fff;
	text-align: center;
	font-size: 16pt;
	vertical-align: middle;
}

.am-footer {
	height: 55px;
	width: 100%;
	text-align: center;
	background: #3498db;
	vertical-align: bottom;
	padding: 15px;
}

.am-content {
	padding: 15px;
}

.poweredby {
	color: #fff;
	font-size: smaller;
}