<div class="am-header">
	<div class="am-home-link">
		<a href="#/home">
			<span class="fa fa-angle-left fa-lg"></span>
			<span>Home</span>
		</a>
	</div>
	<div class="am-title">Items</div>
</div>
<div class="am-content">
	<div class="am-table">
		<div class="am-row" ng-repeat="item in items">
			<span class="am-cell am-transaction-key">{{ item.transactionKey }}</span>
			<span class="am-cell am-transaction-description">{{ item.description }}</span>
			<span class="am-cell am-transaction-amount">{{ item.amountToAuthorise }}</span>
		</div>
	</div>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
</div>
<div class="am-footer">
	<div class="am-footer-link am-other-link">
		<a ng-click="other()">Other...</a>
	</div>
	<div class="am-footer-link am-reject-link">
		<a ng-click="reject()">Reject</a>
	</div>
	<div class="am-footer-link am-approve-link">
		<a ng-click="approve()">Approve</a>
	</div>
</div>
