<div class="am-header">
	<span class="am-title">Approvals Manager</span>
	<img class="am-hamburger" src="images/home-icon.svg">
</div>
<div class="am-content">
	<div ng-hide="itemTypeCounts">
		<p>No items matching your filters.</p>
	</div>
	<div class="am-table">
		<div class="am-row" ng-repeat="itemTypeCount in itemTypeCounts">
			<div class="am-cell am-item-type">{{ itemTypeCount.itemTypeDescription }}</div>
			<div class="am-cell am-item-count">{{ itemTypeCount.count }}</div>
			<div class="am-cell am-item-details">
				<a href="#/items?itemType={{ itemTypeCount.itemType }}">
					<span class="am-item-details-ink fa fa-angle-right"></span>
				</a>
			</div>
		</div>
	</div>
	<div ng-hide="!itemTypeCounts">
		<button ng-click="refresh()">Refresh</button>
	</div>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
</div>
<div class="am-footer">
	<span class="am-powered-by">Powered by Ventyx Pty Ltd.</span>
	<a href="#/settings" title="Settings">
		<span class="am-settings-icon fa fa-cog fa-2x"></span>
	</a>
</div>
