<div class="am-header">
	<div class="am-title">Approvals Manager</div>
	<img class="am-hamburger" src="images/home-icon.svg">
</div>
<div class="am-content">
	<div ng-hide="itemTypeCounts">
		<p>No items matching your filters.</p>
	</div>
	<div class="am-table">
		<div class="am-row" ng-repeat="itemTypeCount in itemTypeCounts">
			<div class="am-cell am-item-type">{{ itemTypeCount.itemTypeDescription }}</div>
			<div class="am-cell am-item-count">{{ itemTypeCount.count }}</div>
			<div class="am-cell am-item-details">
				<a href="#/items?itemType={{ itemTypeCount.itemType }}">
					<span class="am-item-details-link fa fa-angle-right fa-lg"></span>
				</a>
			</div>
		</div>
	</div>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
</div>
<div class="am-footer">
	<span class="am-powered-by">Powered by Ventyx Pty Ltd.</span>
	<div class="am-home-icons">
		<a ng-click="refresh()" title="Refresh">
			<span class="fa fa-refresh fa-2x"></span>
		</a>
		<a href="#/settings" title="Settings">
			<span class="fa fa-cog fa-2x"></span>
		</a>
	</div>
</div>
