<div class="am-header">
	<div class="am-home-link">
		<a href="#/home">
			<span class="fa fa-angle-left fa-lg"></span>
			<span>Home</span>
		</a>
	</div>
	<div class="am-title">Settings</div>
</div>
<div class="am-content">
	<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
	<form name="settingsForm">
		<div class="am-subheading">Ellipse</div>
		<div class="am-table">
			<div class="am-row am-row-nounderline">
				<label class="am-label">User Name:</label>
				<input class="am-input" type="text" name="username" ng-model="credentials.username" required>
			</div>
			<div class="am-row am-row-nounderline">
				<label class="am-label">Password:</label>
				<input class="am-input" type="password" name="password" ng-model="credentials.password">
			</div>
			<div class="am-row am-row-nounderline">
				<label class="am-label">District:</label>
				<input class="am-input" type="text" name="district" ng-model="credentials.scope">
			</div>
			<div class="am-row am-row-nounderline">
				<label class="am-label">Position:</label>
				<input class="am-input" type="text" name="position" ng-model="credentials.position">
			</div>
			<div class="am-row am-row-nounderline">
				<label class="am-label">URL:</label>
				<input class="am-input" type="text" name="url" ng-model="url" required>
			</div>
		</div>
		<div class="am-subheading">Filters</div>
		<div class="am-table">
			<div class="am-row am-row-nounderline">
				<label class="am-label">Employee Id:</label>
				<input class="am-input" type="text" name="employeeId" ng-model="filters.employeeId">
			</div>
		</div>
	</form>
</div>
<div class="am-footer">
	<div class="am-footer-link am-validate-link">
		<a ng-click="validate()">Save</a>
	</div>
</div>
