<div>
	<form name="settingsForm">
		<div><label>Ellipse URL:</label><input type="text" name="url" ng-model="url" required></div>
		<div><label>User Name:</label><input type="text" name="username" ng-model="credentials.username" required></div>
		<div><label>Password:</label><input type="password" name="password" ng-model="credentials.password"></div>
		<div><label>District:</label><input type="text" name="district" ng-model="credentials.scope"></div>
		<div><label>Position:</label><input type="text" name="position" ng-model="credentials.position"></div>
		<div><label>Employee Id:</label><input type="text" name="employeeId" ng-model="filters.employeeId"></div>
		<div><button ng-click="validate()">Validate</button></div>
		<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
	</form>
</div>
